language: python
python:
  - "2.7"
  - "3.6"

install:
  - pip install .
  - pip install codecov coverage requests_mock nose_parameterized

script: nosetests --with-coverage --cover-package=cwlgen

after_success:
  - codecov
